@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

 body{
     background-color:#192730 ;
     font-family: 'Acme', sans-serif;
 }
footer{
    justify-content: space-between;
    font-family: 'Acme', sans-serif;
    background-color: #111b21;
    color: #fff;
}

.search{
    background-color: transparent;
    border: 2px solid #fff;
    font-family: 'Acme', sans-serif;
    border-radius:5px;
    padding: 10px 1em ;
    margin: 5%;
    justify-content: right;
    
  
}
.search::placeholder{
    color: greenyellow;
}

.search:focus{
    color: greenyellow;
}

h2{
    text-align: center;
    font-size: 50px;
    color: #fff;
}

.character{
    display: flex;
    text-align: center; 
    font-family: 'Acme', sans-serif;
    background-color: #2d4250;
    color: #fff;
    border-radius: 15px;
    width: 550px;
    text-decoration: double;
    margin-bottom: 15px;
    float:left;
    margin-right:5px; 
    margin-left:5%; 
         
}
.character h3{
    justify-content: center;
    text-align: center;
    font-weight: bold;
    margin:auto;
    align-items: center;
        
}
    
.character img{
    width: 40%;
    height: 25%;
    display: flex;
    border-radius: 15px;
 
}

.character li{
    color: #d1e0eb;
    align-content: center;
    list-style-type: none;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    margin-right:15px;
    align-items: center;
    margin-top: 20px;
   
        

}
    

.overview{
    background-color:white;
    position:absolute;
    left:0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.5s ease-in;

}

.character:hover .overview{
    transform: translateY(0)
}

